<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>chplayer</title>
		<script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="/chplayer/chplayer.min.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<div id="video" class="content-div" style="width: 65%; height: 650px;margin:10px;"></div>
		<script type="text/javascript">


		</script>
		<div class="chat_box content-div">
			<div style="margin: 10px; text-align: center">
				<span id="userNumber" style="padding: 8px">房间人数：1</span>
			</div>
			<div id="chatRoom" class="chat_message"></div>
			<div class="chat_input">
			  <input id="messageContent" class="sendMsg" type="text" placeholder="请输入" o>
			  <button type="button" onclick="event2SendMessage()" style="padding: 5px; color: #008EaF;cursor: pointer;">发送</button>
			</div>
		</div>
<!--		<div style="text-align:center;">-->
<!--			<p>-->
<!--				<button type="button" onclick="player.play()">播放</button>-->
<!--				<button type="button" onclick="player.pause()">暂停</button>-->
<!--				<button type="button" onclick="player.playOrPause()">播放/暂停</button>-->
<!--				<button type="button" onclick="loadedMetaDataHandler()">获取元数据</button>-->
<!--				<button type="button" onclick="newElement()">添加元件</button>-->
<!--				<button type="button" onclick="newDanmu()">添加弹幕</button>-->
<!--				<button type="button" onclick="player.seek(360)">跳转</button>-->
<!--			</p>-->
<!--		</div>-->
		<div style="text-align:center;">
			<ul>
				<li class="currentPlay" key="0">第一集</li>
				<li key="1">第二集</li>
				<li key="2">第三集</li>
				<li key="3">第四集</li>
				<li key="4">第五集</li>
				<li key="5">第六集</li>
				<li key="6">第七集</li>
			</ul>
		</div>
	</body>

</html>